# Environment variables
WORKSPACE_ID=<workspace-id>

ASSISTANT_USERNAME=<username>
ASSISTANT_PASSWORD=<password>
ASSISTANT_URL=<assistant-url>

ASSISTANT_IAM_APIKEY=<assistant-apikey>

TONE_ANALYZER_USERNAME=<tone-analyzer-username>
TONE_ANALYZER_PASSWORD=<tone-analyzer-password>
TONE_ANALYZER_URL=<tone-analyzer-url>

TONE_ANALYZER_IAM_APIKEY=<assistant-apikey>


#Optional cloudant URL for login
CLOUDANT_URL=<cloudant-url>
#If cloudant url is specified a user name and password must be specified to secure the logging endpoints
LOG_USER=<log-user>
LOG_PASS=<log-password>
